[Desktop Entry]
Version=1.0
Type=Application
Name=DataGrip
Comment=SQL IDE
Exec={{ansible_user_dir}}/Software/datagrip/bin/datagrip.sh
Icon={{ansible_user_dir}}/Software/datagrip/bin/product.png
Path=
Terminal=false
StartupNotify=true
